<!doctype html>
<html lang="en">

 
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>About</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"  />
</head>


<body class="is-preload">

  <div id="wrapper">

     <div id="main">
     
      <section class="post">

       <div class="logo-title">
    <img src="{{ url_for('static', filename='images/HRlogo.png') }}" 
         alt="Harrys Racing Logo"/>

          <h1>About</h1>
       </div>
       

          <p>
            Harrys Racing Series website is an independent community resource 
			that schedules races on the ROUVY indoor virtual cycling platform
			and uses data from this platform to aggregate event results and 
			compute standings to enable registered riders to participate in a 
			a race series.
          </p>
        </header>

        <p>
          This site publishes race event details, schedules, participants,
          and results for a structured indoor cycling series.
        </p>

        <p>
          Harrys Racing Series is not affiliated with ROUVY and operates as a community-driven initiative.
        </p>
      </section>

      <!-- What it does -->
      <section class="post">
        <header class="major">
          <h2>What this site does</h2>
        </header>

        <ul>
          <li>Displays race event details, schedules, and participants</li>
          <li>Displays race event results and standings</li>
          <li>Aggregates results across a race series</li>
          <li>Provides transparent ranking updates</li>
        </ul>
      </section>


    <p><strong><a href="{{ url_for('home') }}" class="links">Go to Home page</a></strong></p>

      </section>
    </div>
  </div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
 
</body>
</html>
