<!doctype html>
<html lang="en">

 
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>About</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"  />
</head>


<body class="is-preload">

  <div id="wrapper">

     <div id="main">
     
      <section class="post">

       <div class="logo-title">
    <img src="{{ url_for('static', filename='images/HR logo.png') }}" 
         alt="Harrys Racing Logo"/>

          <h1>About</h1>
       </div>
       

    <p>
      Harry's Race Series is a community-driven ROUVY time trial series that combines individual race events into a season-long standings competition.
	</p>

    <p>
      Riders compete across a series of stages, earning points based on their performance. 
	  General Classification standings are updated after each stage, allowing participants to track their progress throughout the season.
	</p>


    <p>
       With Harry's Race Series the focus is on fair competition, transparent results, and an enjoyable racing experience for riders of all abilities.
    </p>

    <p style="color: blue;"><strong><a href="{{ url_for('home') }}">Home</a></strong></p>
      </section>
    </div>
  </div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
 
</body>
</html>
