<!doctype html>
<html lang="en">

 
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>About</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"  />
</head>


<body class="is-preload">

  <div id="wrapper">

     <div id="main">
     
      <section class="post">

       <div class="logo-title">
    <img src="{{ url_for('static', filename='images/HRlogo.png') }}" 
         alt="Harrys Racing Logo"/>

          <h1>About</h1>
       </div>
       

          <p><br>Harrys Racing website was created by me, Old-Harry, as a place to record race times and publish race results, 
		  specifically for the time trial events which I organise on ROUVY.</p>

          <p>Beyond this, harrysracing.ca tracks and publishes Stage and Overall GC standings for Harrys Racing time trial series', 
		  a ROUVY race series which I started running for fun, just to see what interest it would generate, back in mid-2025.</p>
		  
		  <p>Over the course of three time trial series, more than two hundred ROUVY riders took part in the Harrys TT events.</p> 
		  
		  <p>At that time, another website tracked race results and overall standings. This site shutdown in March 2026, and since then 
		  I have spent a significant part of my spare time developing this site as a (hopefully) more permanent home for Harrys Racing Series.	</p>	  
		  
		  <p>My aim in creating this website is to add some value to the races that are run in isolation on ROUVY, and to foster some friendly 
		  competition amongst those of us who enjoy testing ourselves against others, as well as ourselves, in the race of truth.</p>			

          <p>I look forward to seeing you on the ROUVY road and, if you haven't already, 
		  please "friend" me and join the Harrys Racing Community on ROUVY.</p>

          <p><strong><i>Old-Harry</i></strong>	</p>	  
          
      </section>


    <p><strong><a href="{{ url_for('home') }}" class="links">Go to Home page</a></strong></p>

      </section>
    </div>
  </div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
 
</body>
</html>
