<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Series Participants</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"  />
</head>

<body class="is-preload">

  <div id="wrapper">

    <div id="main">

      <section class="post">
       <div class="logo-title">
    <img src="{{ url_for('static', filename='images/HRlogo.png') }}" 
         alt="Harrys Racing Logo"/>

          <h1>Current Participants</h1>
       </div>

    <p>
      The table below lists all riders who are registered on Harrys Racing and who have entered (through ROUVY) a race scheduled for <i><strong>{{name}}</strong></i>:
    </p>

    <table>
	<tr>
    <th>ROUVY Name</th>
    <th>Gender</th>
	<th>Age Group</th>	
	<th>Nationality</th>		
    </tr>
    {% for item in participants_tbl %}  
    <tr class="table_std_row">
       <td>{{item[0]}}</td>
       <td>{{item[1]}}</td>       
	   <td>{{item[2]}}</td>       
	   <td>{{item[3]}}</td>
    </tr>
    {% endfor %}
	</table>
		
    <p><strong><a href="{{ url_for('home') }}" class="links">Go to Home page</a></strong></p>

      </section>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/util.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
