<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Scheduled Races</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"  />
</head>

<body class="is-preload">

  <div id="wrapper">

    <div id="main">

      <section class="post">
       <div class="logo-title">
    <img src="{{ url_for('static', filename='images/HRlogo.png') }}" 
         alt="Harrys Racing Logo"/>

          <h1>Scheduled Races</h1>
       </div>

    <p>
      Races currently scheduled for stage <i><strong>{{stage_name}}</strong></i>  of <i><strong>{{series_name}}</strong></i> are as follows:
    </p>
    <table>
      <tr>
         <th>ROUVY Race Name</th>
         <th>Day</th>
         <th>Date</th>
         <th>Time</th>
      </tr>

      {% for item in races_tbl %}
      <tr class="race-row"
          data-utc="{{ item[2].isoformat() }}">

        <td>
           <a href="https://riders.rouvy.com/event/{{ item[1] }}"
              target="_blank"
              rel="noopener noreferrer"
              class="links">
               {{ item[0] }}
               <i class="icon solid fa-external-link-alt"></i>
           </a>
        </td>

        <td class="race-day"></td>
        <td class="race-date"></td>
        <td class="race-time"></td>

      </tr>
      {% endfor %}

    </table>
	<p> Race times are displayed in your local time zone. </p>
	
    <p><strong><a href="{{ url_for('home') }}" class="links">Go to Home page</a></strong></p>

      </section>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/util.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timezone.js') }}"></script>

</body>
</html>
